z;ld;snp;config;cred;log;n_samples
simulation_summary_stats/1KGP_hg19_CTLA4_1MB.vcf.gz_42733450/1KGP_hg19_CTLA4_1MB.vcf.gz_42733450_CV_3.finemap.z;1KGP_Regions/1KGP_hg19_CTLA4_1MB.vcf.gz.r.maf.order.ld;finemapping_results/1KGP_hg19_CTLA4_1MB.vcf.gz_42733450/1KGP_hg19_CTLA4_1MB.vcf.gz_42733450_CV_3_case.finemap.snp;finemapping_results/1KGP_hg19_CTLA4_1MB.vcf.gz_42733450/1KGP_hg19_CTLA4_1MB.vcf.gz_42733450_CV_3_case.finemap.config;finemapping_results/1KGP_hg19_CTLA4_1MB.vcf.gz_42733450/1KGP_hg19_CTLA4_1MB.vcf.gz_42733450_CV_3_case.finemap.cred;finemapping_results/1KGP_hg19_CTLA4_1MB.vcf.gz_42733450/1KGP_hg19_CTLA4_1MB.vcf.gz_42733450_CV_3_case.finemap.log;20000
