z;ld;snp;config;cred;log;n_samples
simulation_summary_stats/1KGP_hg19_APOE_1MB.vcf.gz_167744597/1KGP_hg19_APOE_1MB.vcf.gz_167744597_CV_5.finemap.z;1KGP_Regions/1KGP_hg19_APOE_1MB.vcf.gz.r.maf.order.ld;finemapping_results/1KGP_hg19_APOE_1MB.vcf.gz_167744597/1KGP_hg19_APOE_1MB.vcf.gz_167744597_CV_5_case.finemap.snp;finemapping_results/1KGP_hg19_APOE_1MB.vcf.gz_167744597/1KGP_hg19_APOE_1MB.vcf.gz_167744597_CV_5_case.finemap.config;finemapping_results/1KGP_hg19_APOE_1MB.vcf.gz_167744597/1KGP_hg19_APOE_1MB.vcf.gz_167744597_CV_5_case.finemap.cred;finemapping_results/1KGP_hg19_APOE_1MB.vcf.gz_167744597/1KGP_hg19_APOE_1MB.vcf.gz_167744597_CV_5_case.finemap.log;20000
